{% extends "../base.html" %}
{% load mathfilters %}
{% load i18n %}

{% block title %}
    {% trans 'Recipe' %}: {{ recipe_detail.title }}
{% endblock %}

{% block content %}
    <div class="recipe__content">
        <img src="{{ recipe_detail.photo.url }}" alt="" class="recipe__image">
        <h1 class="recipe__title">{{ recipe_detail.title }}</h1>
        <p class="recipe__text">{{ recipe_detail.text|safe }}</p>
        <div class="recipe__ingredients ingredients">
            <h2 class="ingredients__title">
                {% trans 'Ingredients' %}
            </h2>
            <div class="ingredients__items">
                {{ recipe_detail.ingredients|safe }}
            </div>
        </div>
        <div class="recipe__cooking-instructions">
            <h2 class="instruction__title">
                {% trans 'Cooking instruction' %}
            </h2>
            <div class="instruction__text">
                {{ recipe_detail.cooking_instructions|safe }}
            </div>
        </div>
    </div>

    <hr>
    <br>
    <br>

    <div class="recipe__footer flex">
        {% if request.user.is_authenticated %}
            <form action="{% url 'like' recipe_detail.slug %}" method="POST">
                {% csrf_token %}
                {% if liked %}
                    <button type="submit" name="recipe_slug" value="{{ recipe_detail.slug }}" class="btn-reset liked__recipe-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" class="bi bi-heart-fill" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                        </svg>
                    </button>
                {% else %}
                    <button type="submit" name="recipe_slug" value="{{ recipe_detail.slug }}" class="btn-reset unliked__recipe-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" class="bi bi-heart-fill" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                        </svg>
                    </button>
                {% endif %}
            </form>
        {% endif %}
        <div class="likes__count">Likes - {{ total_likes }}</div>
        <div class="recipe__created">{% trans 'Created at' %} {{ recipe_detail.published_at|date:"d/m/o" }}</div>
        <div class="recipe__author">{% trans 'Author' %}: {{ recipe_detail. }}</div>
    </div>

{% endblock %}

{% block comment %}
    <div id="view-count"></div>
    <h3>{% trans 'Comments' %} ({{ recipe_detail.comment_recipe.all.count }})</h3>
    <hr>
    {% for comment in recipe_detail.comment_recipe.all %}
        <div class="comment-username">
            <img src="{{ profile.photo.url }}" alt="" width="100">
            <b>{{ comment.user }}</b>
            <span class="comment-datetime">{{ comment.published_at|date:"j F Y" }}</span>
        </div>
        <div>{{ comment.text }}</div>
    {% endfor %}
    <p>{% trans 'Add a comment' %}</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% trans 'Submit' %}</button>
    </form>

{% endblock %}
