{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'normalize.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

<header>
    <div class="container">
        {% block header %}{% endblock %}
    </div>
</header>

<section class="tag-section">
    <div class="container">
        {% block tag %}{% endblock %}
    </div>
</section>

<section class="content-section">
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</section>

<section class="comment-section">
    <div class="container">
        {% block comment %}{% endblock %}
    </div>
</section>
<script src="{% static 'main.js' %}"></script>
</body>
</html>